@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../src/fonts/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../src/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../src/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../src/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../src/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: url('../src/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: url('../src/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-accent: 'Arvo', serif;
}
